#top > div, #menu > div,
#wrapper > div, #footer > div {
	width:  952px;
	margin: 0 auto;
}

html,body {
	height: 100%;
	font-family: "TW_cen";
	color: #9B9B9B;
}

#outer {
	min-height: 100%;
	_height: 100%; /* ie6- */
	position: relative;
}

#top {
	height: 64px;
	padding: 30px 0 1px;
	
	background:  url(../images/top_bg.png) repeat-x;
}


#menu {
	height: 50px;
	padding: 6px 0;
	
	background:  url(../images/menu_bg.png) repeat-x;
}

#wrapper {
	padding: 15px 0;
	background: url(../images/wrapper_bg.png) repeat-x;
}

#header { padding: 0 0 18px 0; }
#title { padding: 0 0 5px; }
#body {
	float: left;
	width: 652px;
	margin-right: 20px;
	padding: 5px 0 0;
}

body.page-home #content { display: none; }

#postcontent .moduletable:first-child + .moduletable {
	margin-top: 0;
}

#sidebar {
	width: 280px;
	float: left;
	padding: 5px 0 0;
}


#footer_spacer { height: 78px; }
#footer {
	position: absolute;
	bottom: 0;
	left: 0;

	height: 73px;
	width: 100%;
	padding: 5px 0 0;
	
	background: url(../images/footer_bg.png) repeat-x;
}
#footer a {
	color: #9B9B9B;
}